.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  
  .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  
  .nav-item {
    margin: 0 10px;
  }
  
  .top-right-svg {
    position: absolute;
    top: 0;
    right: 0;
  }
  